<!DOCTYPE html>
<html>
  <head>
    <title>MySeventhLevel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body style="padding-top: 50px">
    <script> window.backgroundImage = "<%= asset_path('fists.jpg').html_safe %>"</script>
    <%= yield %>
  </body>
</html>
